html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #23272a;
}

.ChatRoomTable{
    height: 100%;
    width: 100%;
}

.MsgPanelTD {
    height: 80%;
    width: 85%;
}

.WhosOnlinePanelTD {
    height: 100%;
    width: 15%;
    vertical-align: top;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 25px;
    box-shadow: inset 0px 0px 6px 4px rgb(63, 255, 14);
}

.InputPanelTD {
    height: 20%;
    width: 85%;
}

.MsgPanel {
    overflow: scroll;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    position: relative
}

.InputPanel {
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    position: relative
}

.OnlineUserDiv {
    width: 100%;
    background: #23272a;
    border-radius: 5px;
    float: left;
    margin-bottom: 20px;
    color: #3fff00;
    padding: 8px;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 18px;
    box-shadow: 2px 3px 5px 2px rgb(53, 162, 0);
    user-select: none;
    font-weight: bold;
    padding-right: 20px;
}


.MsgStyle {
    width: 100%;
    height: auto;
    background: #2c2f33;
    border-radius: 5px;
    float: left;
    margin-bottom: 20px;
    color: #fff;
    padding: 25px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
    box-shadow: 5px 5px 7px rgb(0, 0, 0);
    position: center;
    user-select: none;
    overflow-wrap: break-word;
}

.MsgInput {
    border-radius: 10px;
    border: 2.5px solid #99AAB5;
    font-family: monospace;
    font-size: 15px;
    resize: none;
    background: #2c2f33;
    color: #fff;
    padding: 10px;
    height: 95%;
    width: 90%;
}

.SendButton {
    border-radius: 6px;
    border: 10px solid #99AAB5;
    font-family: monospace;
    font-size: 15px;
    background: #2c2f33;
    color: #fff;
    float: right;
    height: 95%;
    width: 10%;
    border-color: limegreen;
}
    .SendButton:focus {
        outline: none;
        border: 1.5px solid #ffeeff;
        color: #fff;
    }

input[type=text] {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2.5px solid #99AAB5;
    color: #fff;
    width: 250px;
    height: 16px;
    background: #2c2f33;
    font-family: monospace;
    font-size: 15px;
    padding: 10px;
    position: relative;
    margin-top: 20px;
}


::-webkit-scrollbar {
    display: none;
    width: 0px;
}

