@page
@model FrontApplication.Pages.TestModel

<head>
    <link rel="stylesheet" href="~/css/ChatPage.css" />
</head>

<body>
    <div id="ChatRoomPanel"></div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/CookieHandler.js"></script>
<script src="~/js/ChatRoom.js"></script>

<script>
    //var ServerURL = "http://localhost:2000/";
    var ServerURL = "http://462495-co47915.tmweb.ru:2000/",
    var chatRoomPanel = $("#ChatRoomPanel")[0];
    var ChatRoom = new CreateNewChatRoom(chatRoomPanel, ServerURL);
</script>