@page
@model IndexModel

<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>
<body>
    <div class="SignBox" id="SignBox">
        <div class="SignInput">
            <label class="SignUpText" id="SignHeader">Welcome to the club, buddy.</label> <br />
            <label class="SignUpText">UserName:</label>
            <input class="UserName" type="text" name="UserName" id="UserName" /><br />
            <label class="SignUpText">Password:</label>
            <input class="Password" type="text" name="Password" id="Password" /><br />
            <input class="SignButton" type="button" value="Log In" onclick="LogIn()" />
            <input class="SignButton" type="button" value="Register" onclick="SignUp()" />
        </div>
    </div>
</body>

<script>
    var ServerURL = "http://localhost:5001/";
    //var ServerURL = "http://188.225.86.132:5001/";
</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/Index.js"></script>