@page
@model IndexModel
@{
    ViewData["Title"] = "Register";
}

<body>
    <div class="SignUpBox" id="SignUpBox">
        <div class="SignUpInput">
            <label class="SignUpText">Sign Up</label> <br />
            <label class="SignUpText">UserName:</label>
            <input class="UserName" type="text" name="UserName" id="UserName" /><br />
            <label class="SignUpText">Password:</label>
            <input class="Password" type="text" name="Password" id="Password" /><br />
            <input class="SignUpButton" type="button" value="SignUp" onclick="RequestSignUp()"/>
        </div>
    </div>
</body>

<style>
    .SignUpInput {
        display: table;
        margin: 0 auto;
        border: 1px solid black;
    }
    .SignUpBox {
        border: 1px solid red;
        width: 100%
    }
    .SignUpText {
        font-family: monospace;
        font-size: 25px;
        color: #FFF;
    }
    .SignUpButton {
    }
</style>

<script>
    function RequestSignUp() {

        var userObject = { Name: $("#UserName")[0].value, Password: $("#Password")[0].value }

        if (userObject.Name === "" || userObject.Password === "")
            return;

        $.ajax({
            url: "https://localhost:5001/Registration",
            //url: "http://462495-co47915.tmweb.ru:8070/API/Message",
            type: "post",
            contentType: "application/json",
            data: JSON.stringify(userObject),
            success: function (result, status, xhr)
            {
                document.cookie = "token=" + result.token + ";expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;";
                document.cookie = "name=" + result.name + ";expires=Thu, 01 Jan 2077 00:00:00 UTC; path=/;";
                window.location.href = "http://localhost:5006/ChatPage";
            },
            error: function (xhr, status, error)
            {

            }
        });
        
    }


    //test GET
    //document.GetServerMessage = function GetServerMessage()
    //{
    //    //$.get("https://localhost:2000/API/Message" + "/" + document.LastMsgID, ServerResponse);
    //
    //    $.ajax({
    //        url: "https://localhost:5001/Registration",
    //        //url: "http://462495-co47915.tmweb.ru:8070/API/Message",
    //        type: "get",
    //        contentType: "application/json",
    //        xhrFields: 
    //        {
    //            withCredentials: true
    //        },
    //        success: function (result, status, xhr) {
    //            
    //        },
    //        error: function (xhr, status, error) {
    //
    //        }
    //    });
    //
    //}

</script>